<div class="panel panel-default">
  <div class="panel-heading" style="height: 140px;">
    <h4 class="list-group-item-heading"> {{ contact.name }} </h4>
    <img
      [src]="contact.imageUrl"
      alt="{{ contact.name }}"
      class="img-responsive"
      style="max-height: 90px;"
    />
    <div class="aside">
      <button type="button" class="btn btn-info pull-right" routerLink="edit" >Edit</button>
      <button type="button" class="btn btn-danger pull-right" (click)="onDelete()">Delete</button>
    </div>
  </div>
  <div class="panel-body">
    <p>Email: {{ contact.email }}</p>
    <p>Phone: {{ contact.phone }}</p>
    <h3  *ngIf="contact.group">Contacts in Team:</h3>
		<div class="panel-body" *ngIf="contact.group">
			<div class="row">
				<div class="col-xs-12" *ngFor="let contact of contact.group">
					<div class="pull-left">
            <h4 class="list-group-item-heading"> {{ contact.name }} </h4>
						<p class="list-group-item-text">{{contact.phone}}</p>
					</div>
					<span class="pull-right">
						<img src="{{contact.imageUrl}}" alt="{{contact.name}}" class="img-responsive" style="max-height: 80px;">
					</span>
				</div>
			</div>
		</div>
  </div>
</div>

