<div class="panel panel-default">
  <div class="panel-heading" style="height: 70px;">
    <h4 class="list-group-item-heading"></h4>
    <button type="button" class="btn btn-info pull-right">Edit</button>
    <button type="button" class="btn btn-danger pull-right">Delete</button>
  </div>
  <div class="panel-body">
    <p>Email: </p>
    <p>Phone: </p>
  </div>
</div>




<!-- <div class="row">
  <div class="col-xs-12">
    <div class="img-responsive"></div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>Recipe name</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button 
        type="button" 
        class="btn btn-primary dropdown-toggle">
        Manage Recipe<span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">shopping list</a></li>
        <li><a href="#">Edit Recipe</a></li>
        <li><a href="#">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Description
  </div>
</div>
 -->
